@media screen and (min-width: 1008px) {
    footer {
        margin-top: 0;
        padding: 0;
        margin: auto;
        
        .grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            width: 60%;
            margin: auto;
            margin-bottom: 5%;

            h3 {
                margin-top: 0;
                font-size: 0.9em;
                margin-bottom: 5%;
            }

            ul {
                padding-top: 0;

                li {
                    font-size: 0.9em;
                    padding-top: 5%;
                }
            }
        }

        .propper {
            display: flex;
            width: 100%;
            margin-top: 0;
            
            div {
                width: 60%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                margin-bottom: 2%;

                p {
                    margin-top: 5%;
                }
                h2 {
                    margin: 0;
                    padding: 0;
                    font-size: medium;
                }
            }
        }
    }
}