@import 'variables';

@media screen and (min-width: 1008px) {
    header {
        margin-right: 1%;
        margin-left: 1%;
        
        .menu {
            display: grid;
            grid-template-columns: 4fr 18fr 6fr 4fr;
            margin-top: 2%;
            margin-bottom: 2%;
            padding: 0;

            .supro {

                img {
                    width: 40%;
                }
            }

            nav{
                display: grid;
                grid-template-columns: repeat(17, 1fr);

                div {
                    grid-area: 1 / 1 / 2 / 10;

                    ul {
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);

                        li {
                            text-align: center;
                            a {
                                text-decoration: none;
                                color: $primary-color;
                                font-family: 'Roboto', sans-serif;
                                font-size: 0.9em;
                            }
                        }
                    }
                }

                
            }

            .input {
                display: grid;
                grid-template-columns: 4fr 3fr;

                img {
                    width: 12.5%;
                }
                input {
                    display: block;
                    width: 70%;
                    border: none;
                }
            }

            .user {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                margin-right: 20%;
                                                                
                img {
                    width: 40%;
                    padding: 0;
                                        
               }              
            }

        }
    }
}