@import 'variables';

@media screen and (min-width: 1008px) {
    header {
        margin-right: 1%;
        margin-left: 1%;
        position: initial;
        
        .menu {
            display: grid;
            grid-template-columns: 4fr 18fr 6fr 4fr;
            margin-top: 2%;
            margin-bottom: 2%;
            padding: 0;

            .supro {

                img {
                    width: 40%;
                }
            }

            .not-mobile {
                display: grid;
                grid-template-columns: repeat(17, 1fr);
                align-items: center;

                div {
                    grid-area: 1 / 1 / 2 / 10;

                    ul {
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);

                        li {
                            text-align: center;
                            a {
                                text-decoration: none;
                                color: $primary-color;
                                font-family: 'Roboto', sans-serif;
                                font-size: 0.9em;

                                &::after {
                                    display:block;
                                    content: '';
                                    border-bottom: solid 3px $quaternary-color;
                                    padding-bottom: 5px;
                                    transform: scaleX(0);  
                                    transition: transform 250ms ease-in-out;
                                }

                                &:hover::after {
                                    transform: scaleX(1);
                                }
                            }
                        }
                    }
                }

                
            }

            .input {
                display: grid;
                grid-template-columns: 4fr 3fr;
                align-items: center;

                img {
                    width: 12.5%;
                }
                input {
                    display: block;
                    width: 70%;
                    border: none;
                }
            }

            .user {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                margin-right: 20%;
                align-items: center;
                                                                
                img {
                    width: 40%;
                    padding: 0;                 
               }              
            }

            .navBar, .mobile-div, .mobile-div > ul, .mobile-div > h3, .mobile-div > p  {
                display: none;
              }

        }
    }
}