@import 'variables';

.shop {
    font-family: 'Roboto', sans-serif;
    color: $primary-color;
    margin-top: 35%;
    font-size: medium;
    padding-left: 3%;
    padding-right: 3%;
    
    .top {

        h1 {
            font-size: 2.25em;
            font-weight: 600;
        }

        h2 {
            margin-top: 5%;
            margin-bottom: 5%;
            font-size: 0.8em;
            font-weight: 500;
            word-spacing: 15px;
        }

        span {
            color: $secondary-color;
        }

        .filter {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            p {
                margin-bottom: 20%;
                font-weight: 500;
            }
            
            img {
                width: 10%;
                float: right;
            }
        }

        .not-mobile {
            display: none;
        }
    }

    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;

        div {
            position: relative;

            img {
                width: 90%;
                top: 0;
                left: 0;
                transition: opacity .30s ease-in-out;
            }

            .hidden {
                opacity: 0;
                position: absolute;
                
                &:hover {
                    opacity: 1;
                    transition: opacity .30s ease-in-out;
                }
            }

            h3 {
                font-weight: 400;
                font-size: 0.88em;
                margin-top: 5%;
                margin-bottom: 6%;
            }

            p {
                color: $secondary-color;
                margin-top: 6%;
                font-size: small;
                margin-bottom: 25%;
            }

            .stars {
                color: $tertiary-color;
                font-size: 0.7em;

                span {
                    color: $secondary-color;
                }
            }

            .promo {
                width: 30px;
                padding: 5px;
                border-radius: 8%;
                color: $quinary-color;
                text-align: center;
                vertical-align: middle;
                font-weight: 600;
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(50%, 50%);
            }

            .hot {
                @extend .promo;
                background-color:#ff1d3b;
            }

            .sale {
                @extend .promo;
                background-color: $tertiary-color;
            }
        }
    }

    .discover {
        text-align: center;
        font-size: 0.7em;
        font-weight: 600;
        text-decoration: 2px underline;
        text-underline-offset: 40%;
        margin-bottom: 25%;
        margin-top: 5%;
    }

    .nav {
        color: $secondary-color;

        h2 {
            color: $primary-color;
            font-size: 1.4em;
            font-weight: 600;
            margin-bottom: 5%;
            margin-top: 5%;
        }

        ul {
            padding-top: 5%;

            li {
                padding-bottom: 5%;
                font-size: 0.8em;
            }
        }

        .slidecontainer {
            width: 100%;

            .slider {
                -webkit-appearance: none;
                width: 100%;
                height: 10px;
                background: $tertiary-color;
                outline: none;
                margin-bottom: 8%;
            }

            .slider::-moz-range-thumb {
                width: 20px;
                height: 20px;
                background: $quinary-color;
                border: none;
                box-shadow: 0 0 2px 1px $secondary-color;
                cursor: pointer;
              }
        }

        p {
            font-size: small;
            padding-bottom: 5%;
        }

        .color {
            display: grid;
            grid-template-columns: 9fr 1fr;
            row-gap: 15px;
            margin-top: 5%;
            
            .color-dot {
                
                i {
                    padding-right: 2%;
                    padding-bottom: 5%;
                }
            }
            
            .container {
                display: block;
                position: relative;
                cursor: pointer;
                                
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;

                    &:checked ~ .checkmark {
                        border: 2px solid $primary-color;
                    }

                    &:checked ~ .checkmark:after {
                        display: block;
                    }
                }

                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 15px;
                    width: 15px;
                    border: 2px solid $secondary-color;
                    
                    &::after {
                        content: "";
                        position: absolute;
                        display: none;
                        left: 5px;
                        top: 1px;
                        width: 3.3px;
                        height: 6.6px;
                        border: solid $primary-color;
                        border-width: 0 2px 2px 0;
                        border: solid $primary-color;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                }
            }

            .input {
                text-align: right;
                
                .fa-check-square {
                    color: $primary-color;
                }
            }
            
            .black {
                color: $primary-color;
            }

            .blue {
                color: #70849d;
            }

            .gold {
                color: #cc9900;
            }

            .nude {
                color: #cfa58f;
            }

            .orange {
                color: #cc6601;
            }

            .red {
                color: #990100;
            }

            span {
                color: $primary-color;
            }
        }

        .small-products {
                                   
            h2 {
                margin-top: 10%;
            }

            .three {
                display: grid;
                grid-template-columns: 1fr 3fr;
                column-gap: 5px;
                row-gap: 15px;
                margin-bottom: 35%;

                img {
                    width: 80%;
                }

                h3 {
                    color: $primary-color;
                    margin-bottom: 4%;
                    font-size: small;
                    font-weight: 600;
                }

                .stars {
                    color: $tertiary-color;
                    font-size: x-small;
                    margin-bottom: 5%;

                    span {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}

