* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #222;
}

h4 {
  font-size: 1em;
  font-weight: 200;
  color: #999;
}

a {
  font-size: 1em;
  color: #222;
}

ul {
  list-style: none;
}

/*Hamburger de base*/
.hamburger {
  height: 25px;
  width: 25px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font: inherit;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #222;
}

.hamburger-box {
  width: 25px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.155vh;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 25px;
  height: 2px;
  background-color: #222;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -7px;
}

.hamburger-inner::after {
  bottom: -7px;
}

@media screen and (min-width: 1008px) {
  .hamburger {
    height: 17px;
    width: 17px;
  }

  .hamburger-box {
    width: 17px;
    height: 12px;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 17px;
    height: 1px;
  }

  .hamburger-inner::before {
    top: -5px;
  }

  .hamburger-inner::after {
    bottom: -5px;
  }
}
/*Animation - spin*/
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

header {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8.86vh;
  background-color: #fff;
  color: #999;
}
header .menu {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 4fr 1fr 5fr;
  grid-template-rows: 1fr;
  padding: 2.5%;
}
header .menu .supro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .menu .supro img {
  height: 25px;
  padding-left: 5%;
}
header .menu nav.not-mobile {
  display: none;
}
header .menu .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
header .menu .input img {
  width: 25px;
}
header .menu .input input {
  display: none;
}
header .menu .user {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}
header .menu .user img, header .menu .user .navBar {
  width: 25px;
  height: 25px;
}

nav.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 8.86vh;
  right: -101vw;
  z-index: 2;
  width: 100vw;
  height: calc(100vh - 8.86vh);
  background-color: #fff;
}
nav.mobile .mobile-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
  height: 100%;
  padding: 2em;
}
nav.mobile .mobile-div ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  margin-bottom: 2em;
}
nav.mobile .mobile-div ul li {
  display: flex;
  width: 100%;
  height: calc(100% / 6);
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
nav.mobile .mobile-div ul li:last-child {
  margin-bottom: 0;
}
nav.mobile .mobile-div ul a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #999;
  border-bottom: 1px #999 solid;
  background: url("../../img/icons/menu-mobile.png") top right no-repeat;
}
nav.mobile .mobile-div h3 {
  color: #222;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 2em;
}
nav.mobile .mobile-div p {
  font-size: 1em;
}

.is-visible {
  transform: translateX(-101vw);
  transition-delay: 0.12s;
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  header {
    padding: 0 10px;
    min-height: 6.14vh;
  }
  header .menu {
    display: grid;
    grid-template-columns: 8fr 1fr 4fr;
  }
  header .menu .supro img {
    width: 20%;
    padding: 0;
  }
  header .menu .input {
    justify-content: flex-end;
  }
  header .menu .input img {
    width: 25px;
    height: 25px;
    margin-right: 7px;
  }
  header .menu .user {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  header .menu .user img {
    width: 25px;
    height: 25px;
  }
}
@media screen and (min-width: 1008px) {
  header {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  header .menu {
    display: grid;
    grid-template-columns: 4fr 18fr 6fr 4fr;
    padding: 0;
  }
  header .menu .supro {
    justify-content: center;
  }
  header .menu .supro img {
    width: 40%;
  }
  header .menu nav.not-mobile {
    display: flex;
    min-width: 30vw;
    justify-content: center;
    align-items: center;
  }
  header .menu nav.not-mobile div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
  }
  header .menu nav.not-mobile div ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 0;
  }
  header .menu nav.not-mobile div ul li {
    display: block;
    text-align: center;
    margin-right: 3%;
  }
  header .menu nav.not-mobile div ul li a {
    text-decoration: none;
    color: #222;
    font-size: 0.9em;
  }
  header .menu nav.mobile {
    display: none;
  }
  header .menu .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  header .menu .input img {
    width: 13px;
    height: 13px;
  }
  header .menu .input-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 85%;
    height: 3vh;
    background-color: #fff;
    border-radius: 3vh;
  }
  header .menu .input-search input {
    display: block;
    width: 70%;
    border: none;
  }
  header .menu .user {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 0;
  }
  header .menu .user img {
    width: 17px;
    height: 17px;
    padding: 0;
  }
  header .menu .user .navBar {
    display: none;
  }
}
.top-sellers {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 5em 1em;
}
.top-sellers .top-seller-txt {
  width: 100%;
}
.top-sellers h3 {
  font-size: 1.5em;
}
.top-sellers h4 {
  margin: 1em 0;
}
.top-sellers article {
  margin: 1.5em 0;
}

.bag img, .glasses img {
  width: calc(75vw - 2em);
  height: auto;
}

.blouse img, .shoes1 img {
  width: calc(100vw - 2em);
  height: auto;
  margin-bottom: 1em;
}

@media (min-width: 640px) {
  .top-sellers {
    padding: 5em 3em;
  }

  .blouse, .shoes1 {
    display: flex;
    flex-direction: row-reverse;
  }
  .blouse img, .shoes1 img {
    width: calc(80vw - 6em);
  }
  .blouse .top-txt, .shoes1 .top-txt {
    padding-top: 4em;
  }

  .bag img, .glasses img {
    width: calc(50vw - 6em);
  }
  .bag .top-txt, .glasses .top-txt {
    padding-top: 1em;
  }
}
@media (min-width: 1008px) {
  .top-sellers {
    display: grid;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    height: auto;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "top-seller-txt top-seller-txt top-seller-txt top-seller-txt top-seller-txt top-seller-txt top-seller-txt top-seller-txt" ". . . blouse blouse blouse blouse blouse" "bag bag . blouse blouse blouse blouse blouse" "bag bag . blouse blouse blouse blouse blouse" "bag bag . blouse blouse blouse blouse blouse" "bag bag . blouse blouse blouse blouse blouse" ". . . . . . . ." "shoes1 shoes1 shoes1 shoes1 shoes1 . . ." "shoes1 shoes1 shoes1 shoes1 shoes1 . glasses glasses" "shoes1 shoes1 shoes1 shoes1 shoes1 . glasses glasses" "shoes1 shoes1 shoes1 shoes1 shoes1 . glasses glasses" "shoes1 shoes1 shoes1 shoes1 shoes1 . glasses glasses";
  }
  .top-sellers article {
    margin: 0;
    padding: 0;
  }

  .top-seller-txt {
    grid-area: top-seller-txt;
  }

  .bag img, .glasses img {
    width: 325px;
    height: 325px;
  }

  .blouse img, .shoes1 img {
    width: 500px;
    height: 500px;
  }

  .bag {
    grid-area: bag;
  }

  .blouse {
    grid-area: blouse;
  }

  .shoes1 {
    grid-area: shoes1;
  }

  .glasses {
    grid-area: glasses;
  }
}
.new-arrival {
  align-items: flex-start;
  padding: 1em;
}
.new-arrival h2 {
  margin-bottom: 0.2em;
}
.new-arrival h4 {
  display: block;
  width: 100%;
  margin-bottom: 0.2em;
}
.new-arrival ul {
  list-style: none;
  width: 100%;
  margin-bottom: 1.5em;
}
.new-arrival li {
  display: inline-block;
  color: #999;
  margin-right: 2em;
}
.new-arrival li:nth-child(1) {
  color: #222;
}
.new-arrival a {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 1em;
  margin: 2em 0;
}

.new-arrival-grid {
  display: grid;
  max-width: 100vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1em;
  row-gap: 1em;
}
.new-arrival-grid h5 {
  display: block;
  height: 2.5em;
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
.new-arrival-grid article img {
  width: calc(50vw - 1.5em);
  height: calc(50vw - 1.5em);
}
.new-arrival-grid article i {
  font-size: 0.8em;
  color: #f68773;
  margin-bottom: 1em;
}
.new-arrival-grid article .grey {
  color: #999;
}

.backpack {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}

.t-shirt {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}

.t-shirt-2 {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}

.sweater {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}

.jumpsuit {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}

.shoes2 {
  grid-column: 2/span 1;
  grid-row: 3/span 1;
}

@media (min-width: 640px) {
  .new-arrival {
    padding: 3em;
  }

  .new-arrival-grid {
    column-gap: 3em;
  }
  .new-arrival-grid h5 {
    height: auto;
  }
  .new-arrival-grid article img {
    width: calc(50vw - 4.5em);
    height: calc(50vw - 4.5em);
    padding-bottom: 1em;
  }
}
@media (min-width: 1008px) {
  .new-arrival {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }

  .new-arrival-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .new-arrival-grid article img {
    width: calc(33.33vw - 4.5em);
    max-width: 384px;
    height: calc(33.33vw - 4.5em);
    max-height: 384px;
    padding-bottom: 1em;
  }

  .backpack {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }

  .t-shirt {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }

  .t-shirt-2 {
    grid-column: 3/span 1;
    grid-row: 1/span 1;
  }

  .sweater {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }

  .jumpsuit {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
  }

  .shoes2 {
    grid-column: 3/span 1;
    grid-row: 2/span 1;
  }
}
.deal-day {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background: no-repeat url("../../img/homepage/deals_image.jpg") center right -700px;
}

.deal-day-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: 1em;
}
.deal-day-div h2 {
  margin-bottom: 0.5em;
}
.deal-day-div h4 {
  margin-bottom: 0.5em;
  font-size: 1em;
  font-weight: 400;
}
.deal-day-div h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  background-color: #f68773;
  color: #fff;
  margin: 1.5em 0;
}
.deal-day-div ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 2em;
}
.deal-day-div ul li {
  width: calc(100% / 4);
  text-align: center;
  margin: 1em 0.8em;
}
.deal-day-div a {
  display: block;
  width: 100%;
  font-size: 1em;
}

@media (min-width: 640px) {
  .deal-day {
    height: 50vh;
    background: no-repeat url("../../img/homepage/deals_image.jpg") center right -300px;
    background-size: 200%;
  }

  .deal-day-div {
    padding: 3em;
  }

  h5 {
    margin: 1.5em 0 3em 0;
  }

  ul {
    max-width: 75%;
    margin-bottom: 3em;
  }
}
@media (min-width: 1008px) {
  .deal-day {
    max-height: 500px;
    background: no-repeat url("../../img/homepage/deals_image.jpg") center;
    background-size: 100%;
  }

  .deal-day-div {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }
  .deal-day-div ul {
    max-width: 500px;
    margin-bottom: 3em;
  }
}
.latest-news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: auto;
  padding: 5em 1em 1em 1em;
}

.latest-news-txt {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  width: 100%;
  height: auto;
}
.latest-news-txt h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.latest-news-txt h4 {
  margin-bottom: 0.5em;
}

.latest-news-grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, 1fr);
}
.latest-news-grid article {
  width: auto;
  height: auto;
  margin: 1em 0 2em 0;
}
.latest-news-grid article img {
  width: 100%;
  margin-bottom: 2em;
}
.latest-news-grid article h4 {
  font-weight: 600;
  color: #222;
  margin-bottom: 2em;
}
.latest-news-grid article h5 {
  font-weight: 400;
  color: #999;
  margin-bottom: 0.5em;
}
.latest-news-grid article span {
  font-weight: 600;
  color: #f68773;
  margin-right: 1em;
}
.latest-news-grid article a {
  padding-bottom: 1em;
}
.latest-news-grid .five {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.latest-news-grid .kering {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}
.latest-news-grid .these {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}

@media (min-width: 640px) {
  .latest-news {
    padding: 3em;
  }

  .latest-news-txt > a {
    position: relative;
    top: -3em;
    align-self: flex-end;
  }

  .latest-news-grid {
    grid-template-rows: 1.5fr 0.8fr;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2em;
  }
  .latest-news-grid .five {
    grid-column: 1/span 4;
    grid-row: 1/span 1;
  }
  .latest-news-grid .kering {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
  }
  .latest-news-grid .these {
    grid-column: 3/span 2;
    grid-row: 2/span 1;
  }
}
@media (min-width: 1008px) {
  .latest-news-grid {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3em;
  }
  .latest-news-grid article {
    width: auto;
  }
  .latest-news-grid img {
    width: 100%;
    margin: 0;
  }
  .latest-news-grid .five {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
  .latest-news-grid .kering {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
  .latest-news-grid .these {
    grid-column: 3/span 1;
    grid-row: 1/span 1;
  }
  .latest-news-grid img {
    max-width: 384px;
    max-height: 384px;
  }
}
.keep-connected {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  flex-flow: column;
}
.keep-connected div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.keep-connected h2 {
  margin-bottom: 0.3em;
}
.keep-connected h4 {
  margin-bottom: 3em;
}
.keep-connected form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 1em;
  margin-bottom: 5em;
  border-bottom: 1px solid #999;
}
.keep-connected form input {
  border: none;
  outline: none;
  font-size: 1em;
}
.keep-connected form label {
  font-weight: 600;
  font-size: 1em;
}

@media (min-width: 640px) {
  .keep-connected {
    padding: 3em;
    flex-direction: row;
  }

  .keep-connected-txt, .keep-connected-form {
    margin-right: 1em;
  }

  form {
    margin-top: 2em;
  }
}
.images {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  margin-bottom: 1em;
}
.images img {
  width: 100%;
  height: 100%;
}

@media (min-width: 640px) {
  .images {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 3em;
  }
}
footer {
  color: #222;
  padding-left: 5%;
  padding-right: 5%;
}
footer .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}
footer .grid h3 {
  font-weight: 600;
  font-size: medium;
  margin-bottom: 20%;
  margin-top: 20%;
}
footer .grid ul {
  list-style: none;
  padding-top: 5%;
}
footer .grid ul li {
  color: #999;
  padding-top: 10%;
  font-size: medium;
}
footer .propper {
  border-top: 2px solid #F2EDE9;
  margin-top: 20%;
  color: #999;
}
footer .propper p {
  font-size: medium;
  margin-top: 10%;
}
footer .propper p span {
  color: #222;
  font-weight: 600;
}
footer .propper h2 {
  font-size: large;
  display: inline-block;
  padding-right: 10%;
  margin-top: 10%;
  margin-bottom: 20%;
  font-weight: 500;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  footer .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  footer .grid h3 {
    font-size: 0.7em;
    margin-bottom: 4%;
  }
  footer .grid ul {
    padding-top: 8%;
  }
  footer .grid ul li {
    font-size: 0.7em;
  }
  footer .propper {
    margin-top: 10%;
  }
  footer .propper p {
    font-size: small;
  }
  footer .propper h2 {
    font-size: small;
    margin-top: 4%;
    margin-bottom: 10%;
  }
}
@media screen and (min-width: 1008px) {
  footer {
    margin: auto;
  }
  footer .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 60%;
    margin: auto;
    margin-bottom: 5%;
  }
  footer .grid h3 {
    margin-top: 0;
    font-size: 0.9em;
    margin-bottom: 5%;
  }
  footer .grid ul {
    padding-top: 0;
  }
  footer .grid ul li {
    font-size: 0.9em;
    padding-top: 5%;
  }
  footer .propper {
    display: flex;
    width: 100%;
    margin-top: 0;
  }
  footer .propper div {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
  }
  footer .propper div p {
    margin-top: 5%;
  }
  footer .propper div h2 {
    margin: 0;
    padding: 0;
    font-size: medium;
  }
}
main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;
  max-width: 100vw;
  height: auto;
  margin-top: 8.86vh;
}
main a {
  text-transform: uppercase;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  height: auto;
}
.homepage h2 {
  font-size: 2.5em;
  margin: 0.5em 0;
}

.winter, .hairband, .hairband-2, .corduroy {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}

.hairband, .hairband-2, .corduroy {
  height: 40vh;
  background-size: cover;
}

.winter, .hairband-2 {
  align-items: center;
}
.winter h2, .hairband-2 h2 {
  text-align: center;
  color: #fff;
}
.winter h4, .hairband-2 h4 {
  color: #fff;
}
.winter a, .hairband-2 a {
  color: #fff;
}

.hairband h4, .corduroy h4 {
  color: #999;
}

.winter {
  height: 91.14vh;
  background: no-repeat url("../../img/homepage/sl3-1.jpg") center;
  background-size: cover;
}
.winter h2 {
  font-size: 4em;
}

.hairband {
  background: no-repeat url("../../img/homepage/banner_h1_1.jpg") right center;
  background-size: cover;
}

.hairband-2 {
  background: no-repeat url("../../img/homepage/banner_h1_2.jpg") center;
  background-size: cover;
}

.corduroy {
  background: no-repeat url("../../img/homepage/banner_h1_3.jpg") left;
  background-size: cover;
  text-align: right;
}

@media (min-width: 640px) {
  .winter {
    min-height: 93.86vh;
  }

  .hairband, .hairband-2, .corduroy {
    height: 33.33vh;
  }
}
@media (min-width: 1008px) {
  main {
    margin-top: 0;
  }

  .winter {
    min-height: 50vh;
  }

  .homepage {
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .hairband, .hairband-2, .corduroy {
    width: calc(100vw / 3);
    min-height: 25vh;
  }
}

/*# sourceMappingURL=styles.css.map */
