Header {
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #F2EDE9; }
  Header .menu {
    display: flex;
    padding: 2.5%; }
    Header .menu img {
      width: 25%; }
    Header .menu nav {
      display: none; }
    Header .menu .input {
      display: none; }
    Header .menu .user {
      display: flex;
      justify-content: flex-end; }
      Header .menu .user img {
        width: 8%;
        padding: 4%; }

.about {
  font-family: 'Roboto', sans-serif;
  color: #222;
  margin-top: 20%;
  font-size: medium; }
  .about .about-us p {
    color: #999; }
  .about .about-us section img {
    width: 100%; }
  .about .about-us section p {
    font-size: 80%;
    line-height: 2em; }
  .about .about-us section .description {
    padding-left: 8%;
    padding-right: 8%; }
    .about .about-us section .description h1 {
      color: #f68773; }
  .about .about-us section .co-founder {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 15%;
    margin-bottom: 10%; }
    .about .about-us section .co-founder .quote p {
      color: #222;
      font-size: larger;
      line-height: 1.25em; }
    .about .about-us section .co-founder h3 {
      color: #f68773;
      font-size: small; }
    .about .about-us section .co-founder h2 {
      margin-top: 0;
      padding-bottom: 5%;
      font-weight: 1em;
      font-size: large; }
    .about .about-us section .co-founder p {
      line-height: 1.5em; }
  .about .about-us section .big-moments {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 15%; }
    .about .about-us section .big-moments .timeline h2 {
      margin-bottom: 0;
      padding-top: 5%; }
    .about .about-us section .big-moments .timeline h3 {
      font-size: x-large;
      margin-bottom: 0; }
    .about .about-us section .big-moments .timeline p {
      font-size: 0.9em; }
  .about .no-drama {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15%; }
    .about .no-drama p {
      color: #999; }
    .about .no-drama .video {
      position: relative;
      height: 330px;
      text-align: center;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("/home/charlotte/Documents/BeCode/Semaine-4/project-supro/images/about-Charlotte/resources/video-img.jpg"); }
      .about .no-drama .video .play, .about .no-drama .video h2, .about .no-drama .video h3 {
        position: absolute;
        color: #fff;
        width: 100%; }
      .about .no-drama .video .play {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20%; }
      .about .no-drama .video h2 {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 900;
        font-size: 3.5em; }
      .about .no-drama .video h3 {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        font-weight: 400; }
    .about .no-drama .pros {
      padding: 5%;
      display: grid;
      grid-template-columns: 1fr 4fr 1fr 4fr;
      grid-column-gap: 5%; }
      .about .no-drama .pros i {
        color: #f68773;
        padding-top: 50%; }
      .about .no-drama .pros h3 {
        font-size: small;
        font-weight: 500;
        margin-bottom: 0; }
      .about .no-drama .pros p {
        font-size: small;
        margin-top: 0; }
    .about .no-drama .technology h2 {
      text-align: center;
      font-weight: 400; }
    .about .no-drama .technology p {
      font-size: small;
      line-height: 1.5em; }
  .about .members {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30%; }
    .about .members p {
      color: #999;
      font-size: small;
      margin-top: 0; }
    .about .members h2 {
      text-align: center;
      font-weight: 500; }
    .about .members .people {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 30px; }
      .about .members .people img {
        width: 100%; }
      .about .members .people h3 {
        font-size: medium;
        line-height: 1.5em;
        margin: 0; }
  .about .brands {
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center; }
    .about .brands img {
      width: 100%; }

/*# sourceMappingURL=style.css.map */