/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media screen and (max-width: 640px) {
  .contact {
    font-family: 'Roboto', sans-serif;
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff; }
    .contact hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, #fff, #999, #fff); }
    .contact .contact-presentation {
      text-align: center;
      padding-top: 10%; }
      .contact .contact-presentation .image {
        background-image: url("../../Img/Contact-Asceline/contact-bg.jpeg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 300px;
        position: relative;
        text-align: center; }
      .contact .contact-presentation h1 {
        position: absolute;
        font-weight: 700;
        font-size: 25px;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .contact .contact-presentation h2 {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .contact .ask {
      margin: 5%; }
      .contact .ask .first-part #ask-mobile {
        width: 100%; }
      .contact .ask .first-part #ask-tablet-desktop {
        display: none; }
      .contact .ask .first-part .myButton {
        background-color: #222;
        display: inline-block;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        padding: 25px 60px;
        align-content: center;
        text-decoration: none;
        margin-top: 5%;
        margin-bottom: 5%; }
      .contact .ask .media {
        padding-top: 5%;
        padding-bottom: 10%; }
        .contact .ask .media .media-img {
          width: 90%; }
      .contact .ask h1 {
        font-weight: 700;
        font-size: 25px;
        padding-top: 5%;
        padding-bottom: 10%; }
      .contact .ask h2 {
        text-transform: uppercase;
        padding-bottom: 5%; }
      .contact .ask h3 {
        color: #999;
        font-weight: 400;
        padding-bottom: 10%; }
      .contact .ask .our-office {
        padding-top: 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; }
        .contact .ask .our-office .office-title {
          grid-area: 1 / 1 / 2 / 2; }
        .contact .ask .our-office .office-abstract {
          grid-area: 2 / 1 / 3 / 2; }
      .contact .ask .get-one-touch {
        margin: 5%;
        padding-top: 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; }
        .contact .ask .get-one-touch .get-title {
          grid-area: 1 / 1 / 2 / 2; }
        .contact .ask .get-one-touch .get-phone {
          flex-direction: column;
          grid-area: 2 / 1 / 3 / 2;
          color: #999; }
        .contact .ask .get-one-touch .get-email {
          flex-direction: column;
          grid-area: 3 / 1 / 4 / 2;
          color: #999; }
    .contact .london-sydney-hamburg {
      margin: 5%;
      padding-top: 10%;
      padding-bottom: 10%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px; }
      .contact .london-sydney-hamburg h1 {
        font-weight: 700;
        font-size: 25px;
        padding-top: 5%;
        padding-bottom: 10%; }
      .contact .london-sydney-hamburg h2 {
        font-size: 95%;
        padding-bottom: 5%;
        text-transform: uppercase; }
      .contact .london-sydney-hamburg h3 {
        color: #999;
        font-weight: 400;
        padding-bottom: 10%; }
      .contact .london-sydney-hamburg .title {
        grid-area: auto / 1 / auto / 3; }
      .contact .london-sydney-hamburg .location {
        grid-area: auto / 1 / auto / 3; }
    .contact .map {
      padding-bottom: 5%; }
      .contact .map .map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0; }
      .contact .map .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute; } }

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .contact {
    font-family: 'Roboto', sans-serif;
    color: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff; }
    .contact hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, #fff, #999, #fff); }
    .contact .contact-presentation {
      text-align: center;
      padding-top: 10%; }
      .contact .contact-presentation .image {
        background-image: url("../../Img/Contact-Asceline/contact-bg.jpeg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 400px;
        position: relative;
        text-align: center; }
      .contact .contact-presentation h1 {
        position: absolute;
        font-weight: 700;
        font-size: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .contact .contact-presentation h2 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .contact .ask {
      margin: 5%; }
      .contact .ask .first-part #ask-mobile {
        display: none; }
      .contact .ask .first-part #ask-tablet-desktop {
        width: 100%; }
      .contact .ask .first-part .myButton {
        background-color: #222;
        display: inline-block;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        padding: 25px 60px;
        align-content: center;
        text-decoration: none;
        margin-top: 5%;
        margin-bottom: 5%; }
      .contact .ask .media {
        color: #999;
        font-size: 120%;
        padding-top: 2%;
        padding-bottom: 10%; }
        .contact .ask .media .media-ing {
          padding-right: 5%; }
      .contact .ask h1 {
        font-weight: 700;
        font-size: 25px;
        padding-top: 5%;
        padding-bottom: 5%; }
      .contact .ask h2 {
        text-transform: uppercase;
        padding-bottom: 5%; }
      .contact .ask h3 {
        color: #999;
        font-weight: 400;
        padding-bottom: 5%; }
      .contact .ask .our-office {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; }
        .contact .ask .our-office .office-title {
          grid-area: 1 / 1 / 2 / 2; }
        .contact .ask .our-office .office-abstract {
          grid-area: 2 / 1 / 3 / 2; }
      .contact .ask .get-one-touch {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; }
        .contact .ask .get-one-touch .get-title {
          grid-area: 1 / 1 / 2 / 2; }
        .contact .ask .get-one-touch .get-phone {
          flex-direction: column;
          grid-area: 2 / 1 / 3 / 2;
          color: #999; }
        .contact .ask .get-one-touch .get-email {
          flex-direction: column;
          grid-area: 3 / 1 / 4 / 2;
          color: #999; }
    .contact .london-sydney-hamburg {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 5%;
      margin-bottom: 5%; }
      .contact .london-sydney-hamburg h1 {
        font-weight: 700;
        font-size: 25px;
        padding-top: 5%;
        padding-bottom: 5%; }
      .contact .london-sydney-hamburg h2 {
        font-size: 95%;
        padding-bottom: 5%;
        text-transform: uppercase; }
      .contact .london-sydney-hamburg h3 {
        color: #999;
        font-weight: 400;
        padding-bottom: 10%; }
      .contact .london-sydney-hamburg .title {
        grid-area: auto / 1 / auto / 5; }
    .contact .map .map-responsive {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0; }
    .contact .map .map-responsive iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute; } }

@media screen and (min-width: 1008px) {
  body {
    font-family: 'Roboto', sans-serif; }
    body .contact {
      color: #222;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      background-color: #fff; }
      body .contact hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, #fff, #999, #fff); }
      body .contact .contact-presentation {
        text-align: center;
        padding-top: 10%; }
        body .contact .contact-presentation .image {
          background-image: url("../../Img/Contact-Asceline/contact-bg.jpeg");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          height: 400px;
          position: relative;
          text-align: center; }
        body .contact .contact-presentation h1 {
          position: absolute;
          font-weight: 700;
          font-size: 25px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        body .contact .contact-presentation h2 {
          position: absolute;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%); }
      body .contact .ask {
        margin: 5%;
        display: grid;
        grid-template-columns: 8fr 4fr; }
        body .contact .ask .first-part #ask-mobile {
          display: none; }
        body .contact .ask .first-part #ask-tablet-desktop {
          width: 85%; }
        body .contact .ask .first-part .myButton {
          background-color: #222;
          display: inline-block;
          color: #fff;
          font-size: 15px;
          font-weight: 700;
          padding: 25px 60px;
          align-content: center;
          text-decoration: none;
          margin-top: 5%;
          margin-bottom: 5%; }
        body .contact .ask .media {
          padding-top: 5%;
          padding-bottom: 20%; }
          body .contact .ask .media .media-img {
            width: 100%; }
        body .contact .ask h1 {
          font-weight: 700;
          font-size: 25px;
          padding-top: 5%;
          padding-bottom: 10%; }
        body .contact .ask h2 {
          text-transform: uppercase;
          padding-bottom: 5%; }
        body .contact .ask h3 {
          color: #999;
          font-weight: 400;
          padding-bottom: 5%; }
        body .contact .ask .our-office {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(1, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          padding-bottom: 8%; }
          body .contact .ask .our-office .office-title {
            grid-area: 1 / 1 / 2 / 2; }
          body .contact .ask .our-office .office-abstract {
            grid-area: 2 / 1 / 3 / 2; }
        body .contact .ask .get-one-touch {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(3, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          padding-top: 5%;
          padding-bottom: 10%; }
          body .contact .ask .get-one-touch .get-title {
            grid-area: 1 / 1 / 2 / 2; }
          body .contact .ask .get-one-touch .get-phone {
            flex-direction: column;
            grid-area: 2 / 1 / 3 / 2;
            color: #999; }
          body .contact .ask .get-one-touch .get-email {
            flex-direction: column;
            grid-area: 3 / 1 / 4 / 2;
            color: #999; }
      body .contact .london-sydney-hamburg {
        display: grid;
        grid-template-columns: repeat(2, 3fr) 2fr 3fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        margin-bottom: 5%; }
        body .contact .london-sydney-hamburg h1 {
          font-weight: 700;
          font-size: 25px;
          padding-top: 5%;
          padding-bottom: 10%; }
        body .contact .london-sydney-hamburg h2 {
          font-size: 95%;
          padding-bottom: 5%;
          text-transform: uppercase; }
        body .contact .london-sydney-hamburg h3 {
          color: #999;
          font-weight: 400;
          padding-bottom: 10%; }
      body .contact .map .map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0; }
      body .contact .map .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute; } }

@media screen and (max-width: 640px) {
  .product {
    font-family: 'Roboto', sans-serif;
    color: #999;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    background-color: #fff; }
    .product hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, #fff, #999, #fff); }
    .product .article-sale .article-menu {
      margin-top: 20%;
      margin-bottom: 20%; }
      .product .article-sale .article-menu h1 {
        font-size: 15px;
        word-spacing: 5px;
        line-height: 150%; }
      .product .article-sale .article-menu .black {
        color: #222; }
      .product .article-sale .article-menu .chevron {
        display: none; }
    .product .article-sale .article-presentation {
      display: grid;
      grid-template-columns: 1fr;
      position: relative; }
      .product .article-sale .article-presentation .article-picture {
        position: relative; }
        .product .article-sale .article-presentation .article-picture span {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(140%, 20%);
          width: 60%; }
        .product .article-sale .article-presentation .article-picture .art-arrow {
          width: 20%;
          height: auto; }
        .product .article-sale .article-presentation .article-picture .principal-picture {
          width: 100%;
          height: auto; }
      .product .article-sale .article-presentation .article-test {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 10%; }
        .product .article-sale .article-presentation .article-test .picture {
          width: 90%;
          height: auto;
          margin-top: 10%;
          padding: 4%;
          justify-content: space-around; }
        .product .article-sale .article-presentation .article-test .picture:hover {
          opacity: 0.5; }
        .product .article-sale .article-presentation .article-test #hide-a-cover {
          display: none; }
      .product .article-sale .article-presentation .notice {
        display: flex; }
        .product .article-sale .article-presentation .notice #stars {
          color: #f68773;
          font-size: 0.7em; }
        .product .article-sale .article-presentation .notice #stars-span {
          color: #999;
          font-size: 0.7em; }
        .product .article-sale .article-presentation .notice p {
          font-size: 100%;
          text-align: left;
          padding-left: 4%; }
      .product .article-sale .article-presentation h1 {
        font-size: 85%;
        font-weight: 600;
        color: #222;
        padding-bottom: 5%;
        text-align: left;
        line-height: 110%; }
      .product .article-sale .article-presentation h2 {
        color: #222; }
      .product .article-sale .article-presentation h3 {
        font-size: 70%;
        font-weight: 400;
        padding-bottom: 5%; }
      .product .article-sale .article-presentation p {
        font-size: 100%;
        font-weight: 300;
        padding-bottom: 5%; }
      .product .article-sale .article-presentation .category-clothes {
        padding-top: 5%;
        padding-bottom: 5%; }
        .product .article-sale .article-presentation .category-clothes h2 {
          font-size: 95%;
          font-weight: 500;
          color: #222;
          margin: 0;
          display: inline-block; }
        .product .article-sale .article-presentation .category-clothes p {
          padding-left: 1%;
          font-size: 85%;
          font-weight: 400;
          padding-bottom: 3%;
          color: #999;
          display: inline-block; }
      .product .article-sale .article-presentation .buttons {
        padding-bottom: 3%; }
        .product .article-sale .article-presentation .buttons .button-mobile {
          width: 100%;
          height: auto; }
        .product .article-sale .article-presentation .buttons .button-tablet-desktop {
          display: none; }
      .product .article-sale .article-presentation .myButton {
        background-color: #222;
        display: inline-block;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        padding: 15px 135px;
        align-content: center;
        text-decoration: none; }
      .product .article-sale .article-presentation .media {
        color: #222;
        font-size: 120%;
        padding: 3%;
        padding-top: 5%;
        padding-bottom: 10%; }
        .product .article-sale .article-presentation .media i {
          padding-right: 5%; }
    .product .titles-description h2 {
      text-align: center;
      padding-top: 5%;
      padding-bottom: 5%;
      font-weight: 500;
      font-size: 150%;
      line-height: 85%; }
    .product .titles-description sup {
      vertical-align: super;
      font-size: 65%; }
    .product .titles-description .black {
      color: #222; }
    .product .pyjama-description {
      padding-top: 10%;
      padding-bottom: 10%; }
      .product .pyjama-description .description {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; }
        .product .pyjama-description .description .description div {
          font-size: 5vw;
          padding: .5em;
          flex: 1; }
        .product .pyjama-description .description .description-text {
          float: left;
          padding-bottom: 5%; }
          .product .pyjama-description .description .description-text h2 {
            font-weight: 300;
            font-size: 200%;
            color: #222;
            padding-bottom: 8%;
            margin: 5%; }
          .product .pyjama-description .description .description-text h3 {
            font-weight: 400;
            font-size: 100%;
            line-height: 150%;
            padding-left: 4%;
            padding-right: 4%; }
          .product .pyjama-description .description .description-text p {
            font-weight: 300;
            font-size: 100%;
            line-height: 150%;
            padding-left: 4%;
            padding-right: 4%; }
          .product .pyjama-description .description .description-text ul {
            list-style-type: disc;
            line-height: 150%;
            padding-left: 8%;
            padding-right: 4%; }
        .product .pyjama-description .description .description-image {
          justify-content: center;
          padding-left: 4%;
          padding-right: 4%; }
          .product .pyjama-description .description .description-image .pyjama {
            width: 100%;
            height: auto; }
    .product .art-present h1 {
      font-size: 170%;
      font-weight: 500;
      color: #222;
      padding-top: 5%;
      padding-bottom: 10%;
      text-align: center; }
    .product .art-present h2 {
      text-align: left;
      font-weight: 300;
      color: #222;
      padding-top: 5%;
      padding-bottom: 3%; }
    .product .art-present h3 {
      text-align: left;
      padding-top: 3%;
      padding-bottom: 3%; }
    .product .art-present .stars {
      color: #f68773;
      font-size: 0.7em; }
      .product .art-present .stars span {
        color: #999; }
    .product .art-present .art-zero {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px; }
      .product .art-present .art-zero div {
        position: relative; }
        .product .art-present .art-zero div img {
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          justify-content: center;
          transition: opacity .30s ease-in-out; }
        .product .art-present .art-zero div .hidden {
          opacity: 0;
          position: absolute; }
          .product .art-present .art-zero div .hidden:hover {
            opacity: 1;
            transition: opacity .30s ease-in-out; } }

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .product {
    font-family: 'Roboto', sans-serif;
    color: #999;
    box-sizing: border-box;
    margin: 5%;
    padding: 0;
    background-color: #fff; }
    .product hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, #fff, #999, #fff); }
    .product .article-sale .article-menu {
      margin-top: 20%;
      margin-bottom: 20%; }
      .product .article-sale .article-menu h1 {
        font-size: 15px;
        word-spacing: 5px;
        line-height: 150%; }
      .product .article-sale .article-menu .black {
        color: #222; }
      .product .article-sale .article-menu .chevron {
        display: none; }
    .product .article-sale .article-presentation {
      display: grid;
      grid-template-columns: 1fr;
      position: relative; }
      .product .article-sale .article-presentation .article-picture {
        position: relative; }
        .product .article-sale .article-presentation .article-picture span {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(137%, 15%);
          width: 50%; }
        .product .article-sale .article-presentation .article-picture .art-arrow {
          width: 20%;
          height: auto; }
        .product .article-sale .article-presentation .article-picture .principal-picture {
          width: 80%;
          height: auto; }
      .product .article-sale .article-presentation .article-test {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 10%;
        width: 75%; }
        .product .article-sale .article-presentation .article-test .picture {
          width: 90%;
          height: auto;
          margin-top: 10%;
          padding-left: 20%;
          justify-content: space-around; }
        .product .article-sale .article-presentation .article-test .picture:hover {
          opacity: 0.5; }
        .product .article-sale .article-presentation .article-test #hide-a-cover {
          display: inline; }
      .product .article-sale .article-presentation .notice {
        display: flex; }
        .product .article-sale .article-presentation .notice #stars {
          color: #f68773;
          font-size: 0.7em; }
        .product .article-sale .article-presentation .notice #stars-span {
          color: #999;
          font-size: 0.7em; }
        .product .article-sale .article-presentation .notice p {
          font-size: 90%;
          text-align: left;
          padding-left: 4%; }
      .product .article-sale .article-presentation h1 {
        font-size: 200%;
        font-weight: 600;
        color: #222;
        padding-bottom: 4%;
        text-align: left;
        line-height: 110%; }
      .product .article-sale .article-presentation h2 {
        color: #222;
        padding-bottom: 5%;
        font-size: 110%; }
      .product .article-sale .article-presentation h3 {
        font-size: 85%;
        font-weight: 400; }
      .product .article-sale .article-presentation p {
        font-size: 100%;
        font-weight: 300;
        padding-bottom: 5%; }
      .product .article-sale .article-presentation hr {
        margin-top: 5%;
        margin-bottom: 3%; }
      .product .article-sale .article-presentation .category-clothes h2 {
        font-size: 95%;
        font-weight: 500;
        color: #222;
        display: inline-block; }
      .product .article-sale .article-presentation .category-clothes p {
        padding-left: 1%;
        font-size: 85%;
        font-weight: 400;
        padding-bottom: 3%;
        color: #999;
        display: inline-block; }
      .product .article-sale .article-presentation .buttons {
        padding-bottom: 3%; }
        .product .article-sale .article-presentation .buttons .button-mobile {
          display: none; }
        .product .article-sale .article-presentation .buttons .button-tablet-desktop {
          width: 100%;
          height: auto; }
      .product .article-sale .article-presentation .myButton {
        background-color: #222;
        display: inline-block;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        padding: 15px 275px;
        align-content: center;
        text-decoration: none; }
      .product .article-sale .article-presentation .media {
        color: #222;
        font-size: 120%;
        padding: 3%;
        padding-bottom: 10%; }
        .product .article-sale .article-presentation .media i {
          padding-right: 5%; }
    .product .titles-description {
      display: flex;
      justify-content: space-around; }
      .product .titles-description h2 {
        padding-top: 5%;
        padding-bottom: 5%;
        font-weight: 500;
        font-size: 150%; }
      .product .titles-description sup {
        vertical-align: super;
        font-size: 65%; }
      .product .titles-description .black {
        color: #222; }
    .product .pyjama-description {
      padding-top: 10%;
      padding-bottom: 10%; }
      .product .pyjama-description .description {
        display: flex;
        flex-wrap: wrap; }
        .product .pyjama-description .description .description div {
          flex: 1; }
        .product .pyjama-description .description .description-text {
          float: left;
          padding-bottom: 5%; }
          .product .pyjama-description .description .description-text h2 {
            font-weight: 300;
            font-size: 200%;
            color: #222;
            padding-top: 4%;
            padding-bottom: 8%;
            padding-left: 4%; }
          .product .pyjama-description .description .description-text h3 {
            font-weight: 400;
            font-size: 100%;
            line-height: 150%;
            padding-left: 4%;
            padding-right: 4%;
            text-align: justify; }
          .product .pyjama-description .description .description-text p {
            font-weight: 300;
            font-size: 100%;
            line-height: 150%;
            padding-left: 4%;
            padding-right: 4%; }
          .product .pyjama-description .description .description-text ul {
            list-style-type: disc;
            line-height: 150%;
            padding-left: 8%;
            padding-right: 4%; }
        .product .pyjama-description .description .description-image {
          margin-left: 5%; }
          .product .pyjama-description .description .description-image .pyjama {
            width: 100%;
            height: auto; }
    .product .art-present h1 {
      font-size: 170%;
      font-weight: 500;
      color: #222;
      padding-top: 5%;
      padding-bottom: 10%;
      text-align: center; }
    .product .art-present h2 {
      text-align: left;
      font-weight: 300;
      width: 70%;
      color: #222;
      padding-top: 5%;
      padding-bottom: 3%; }
    .product .art-present h3 {
      text-align: left;
      width: 60%;
      padding-top: 3%;
      padding-bottom: 3%; }
    .product .art-present .stars {
      color: #f68773;
      font-size: 0.7em; }
      .product .art-present .stars span {
        color: #999; }
    .product .art-present .art-zero {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 5%;
      grid-row-gap: 5%; }
      .product .art-present .art-zero div {
        position: relative; }
        .product .art-present .art-zero div img {
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          justify-content: center;
          transition: opacity .30s ease-in-out; }
        .product .art-present .art-zero div .hidden {
          opacity: 0;
          position: absolute; }
          .product .art-present .art-zero div .hidden:hover {
            opacity: 1;
            transition: opacity .30s ease-in-out; } }

@media screen and (min-width: 1008px) {
  .product {
    font-family: 'Roboto', sans-serif;
    color: #999;
    box-sizing: border-box;
    margin: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #fff; }
    .product hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, #fff, #999, #fff); }
    .product .article-sale .article-menu {
      margin-top: 10%;
      margin-bottom: 10%;
      display: grid;
      grid-template-columns: 13fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px; }
      .product .article-sale .article-menu h1 {
        font-size: 15px;
        word-spacing: 5px;
        line-height: 150%; }
      .product .article-sale .article-menu .black {
        color: #222; }
      .product .article-sale .article-menu .chevron img {
        width: 60px; }
    .product .article-sale .article-presentation {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      position: relative; }
      .product .article-sale .article-presentation .article-one {
        width: 50%; }
        .product .article-sale .article-presentation .article-one .article-picture {
          position: relative; }
          .product .article-sale .article-presentation .article-one .article-picture span {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(136%, 15%);
            width: 50%; }
          .product .article-sale .article-presentation .article-one .article-picture .art-arrow {
            width: 20%;
            height: auto; }
          .product .article-sale .article-presentation .article-one .article-picture .principal-picture {
            width: 80%;
            height: auto; }
        .product .article-sale .article-presentation .article-one .article-test {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          padding-bottom: 10%;
          width: 80%;
          justify-content: center; }
          .product .article-sale .article-presentation .article-one .article-test .picture {
            width: 90%;
            height: auto;
            margin-top: 10%;
            padding-right: 4%;
            justify-content: space-around; }
          .product .article-sale .article-presentation .article-one .article-test .picture:hover {
            opacity: 0.5; }
          .product .article-sale .article-presentation .article-one .article-test #hide-a-cover {
            display: inline; }
      .product .article-sale .article-presentation .article-two {
        width: 50%; }
        .product .article-sale .article-presentation .article-two .notice {
          display: flex; }
          .product .article-sale .article-presentation .article-two .notice #stars {
            color: #f68773;
            font-size: 0.7em; }
          .product .article-sale .article-presentation .article-two .notice #stars-span {
            color: #999;
            font-size: 0.7em; }
          .product .article-sale .article-presentation .article-two .notice p {
            font-size: 90%;
            text-align: left;
            padding-left: 4%; }
        .product .article-sale .article-presentation .article-two h1 {
          font-size: 200%;
          font-weight: 600;
          color: #222;
          padding-bottom: 4%;
          text-align: left;
          line-height: 110%; }
        .product .article-sale .article-presentation .article-two h2 {
          color: #222;
          padding-bottom: 5%;
          font-size: 110%; }
        .product .article-sale .article-presentation .article-two h3 {
          font-size: 85%;
          font-weight: 400; }
        .product .article-sale .article-presentation .article-two p {
          font-size: 100%;
          font-weight: 300;
          padding-bottom: 5%; }
        .product .article-sale .article-presentation .article-two hr {
          margin-top: 5%;
          margin-bottom: 3%; }
        .product .article-sale .article-presentation .article-two .category-clothes h2 {
          font-size: 95%;
          font-weight: 500;
          color: #222;
          display: inline-block; }
        .product .article-sale .article-presentation .article-two .category-clothes p {
          padding-left: 1%;
          font-size: 85%;
          font-weight: 400;
          padding-bottom: 3%;
          color: #999;
          display: inline-block; }
        .product .article-sale .article-presentation .article-two .buttons {
          padding-bottom: 3%; }
          .product .article-sale .article-presentation .article-two .buttons .button-mobile {
            display: none; }
          .product .article-sale .article-presentation .article-two .buttons .button-tablet-desktop {
            width: 100%;
            height: auto; }
        .product .article-sale .article-presentation .article-two .myButton {
          background-color: #222;
          display: block;
          color: #fff;
          font-size: 15px;
          font-weight: 700;
          width: 100%;
          padding: 15px;
          text-decoration: none;
          text-align: center; }
        .product .article-sale .article-presentation .article-two .media {
          color: #222;
          font-size: 120%;
          padding: 3%;
          padding-bottom: 10%; }
          .product .article-sale .article-presentation .article-two .media i {
            padding-right: 5%; }
    .product .titles-description {
      display: flex;
      justify-content: space-around; }
      .product .titles-description h2 {
        padding-top: 5%;
        padding-bottom: 5%;
        font-weight: 500;
        font-size: 150%; }
      .product .titles-description sup {
        vertical-align: super;
        font-size: 65%; }
      .product .titles-description .black {
        color: #222; }
    .product .pyjama-description {
      padding-top: 10%;
      padding-bottom: 10%; }
      .product .pyjama-description .description {
        display: flex; }
        .product .pyjama-description .description .description div {
          flex: 1; }
        .product .pyjama-description .description .description-text {
          float: left;
          padding-bottom: 5%; }
          .product .pyjama-description .description .description-text h2 {
            font-weight: 300;
            font-size: 200%;
            color: #222;
            padding-top: 4%;
            padding-bottom: 8%;
            padding-left: 4%; }
          .product .pyjama-description .description .description-text h3 {
            font-weight: 400;
            font-size: 100%;
            line-height: 150%;
            padding-left: 4%;
            padding-right: 4%;
            text-align: justify; }
          .product .pyjama-description .description .description-text p {
            font-weight: 300;
            font-size: 100%;
            line-height: 150%;
            padding-left: 4%;
            padding-right: 4%; }
          .product .pyjama-description .description .description-text ul {
            list-style-type: disc;
            line-height: 150%;
            padding-left: 8%;
            padding-right: 4%; }
        .product .pyjama-description .description .description-image {
          float: right;
          margin-left: 5%; }
          .product .pyjama-description .description .description-image .pyjama {
            width: 350px;
            height: auto; }
    .product .art-present h1 {
      font-size: 170%;
      font-weight: 500;
      color: #222;
      padding-top: 5%;
      padding-bottom: 5%;
      text-align: center; }
    .product .art-present h2 {
      text-align: left;
      font-weight: 300;
      width: 70%;
      color: #222;
      padding-top: 5%;
      padding-bottom: 3%; }
    .product .art-present h3 {
      text-align: left;
      width: 60%;
      padding-top: 3%;
      padding-bottom: 3%; }
    .product .art-present .stars {
      color: #f68773;
      font-size: 0.7em; }
      .product .art-present .stars span {
        color: #999; }
    .product .art-present .art-zero {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 5%;
      grid-row-gap: 5%; }
      .product .art-present .art-zero div {
        position: relative; }
        .product .art-present .art-zero div img {
          top: 0;
          left: 0;
          right: 0;
          width: 170px;
          height: auto;
          transition: opacity .30s ease-in-out; }
        .product .art-present .art-zero div .hidden {
          opacity: 0;
          position: absolute; }
          .product .art-present .art-zero div .hidden:hover {
            opacity: 1;
            transition: opacity .30s ease-in-out; } }

header {
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid #F2EDE9; }
  header .menu {
    display: grid;
    grid-template-columns: 4fr 1fr 5fr;
    padding: 2.5%;
    margin-top: 5%; }
    header .menu .supro img {
      width: 60%;
      padding-left: 5%; }
    header .menu nav {
      display: none; }
    header .menu .input img {
      width: 60%; }
    header .menu .input input {
      display: none; }
    header .menu .user {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-right: 4%; }
      header .menu .user img {
        width: 50%; }

@media screen and (min-width: 641px) and (max-width: 1007px) {
  header .menu {
    display: grid;
    grid-template-columns: 7fr 1fr 2fr;
    margin-top: 1%;
    padding-right: 5%; }
    header .menu .supro img {
      width: 20%;
      padding: 0; }
    header .menu .input img {
      width: 30%;
      padding-left: 50%; }
    header .menu .user {
      display: grid;
      grid-template-columns: repeat(4, 1fr); }
      header .menu .user img {
        width: 60%; } }

@media screen and (min-width: 1008px) {
  header {
    margin-right: 1%;
    margin-left: 1%; }
    header .menu {
      display: grid;
      grid-template-columns: 4fr 18fr 6fr 4fr;
      margin-top: 2%;
      margin-bottom: 2%;
      padding: 0; }
      header .menu .supro img {
        width: 40%; }
      header .menu nav {
        display: grid;
        grid-template-columns: repeat(17, 1fr); }
        header .menu nav div {
          grid-area: 1 / 1 / 2 / 10; }
          header .menu nav div ul {
            display: grid;
            grid-template-columns: repeat(6, 1fr); }
            header .menu nav div ul li {
              text-align: center; }
              header .menu nav div ul li a {
                text-decoration: none;
                color: #222;
                font-family: 'Roboto', sans-serif;
                font-size: 0.9em; }
      header .menu .input {
        display: grid;
        grid-template-columns: 4fr 3fr; }
        header .menu .input img {
          width: 12.5%; }
        header .menu .input input {
          display: block;
          width: 70%;
          border: none; }
      header .menu .user {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-right: 20%; }
        header .menu .user img {
          width: 40%;
          padding: 0; } }

footer {
  font-family: 'Roboto', sans-serif;
  color: #222;
  margin-top: 20%;
  padding-left: 5%;
  padding-right: 5%; }
  footer .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px; }
    footer .grid h3 {
      font-weight: 600;
      font-size: medium;
      margin-bottom: 20%;
      margin-top: 20%; }
    footer .grid ul {
      list-style: none;
      padding-top: 5%; }
      footer .grid ul li {
        color: #999;
        padding-top: 10%;
        font-size: medium; }
  footer .propper {
    border-top: 2px solid #F2EDE9;
    margin-top: 20%;
    color: #999; }
    footer .propper p {
      font-size: medium;
      margin-top: 10%; }
      footer .propper p span {
        color: #222;
        font-weight: 600; }
    footer .propper h2 {
      font-size: large;
      display: inline-block;
      padding-right: 10%;
      margin-top: 10%;
      margin-bottom: 20%;
      font-weight: 500; }

@media screen and (min-width: 641px) and (max-width: 1007px) {
  footer {
    margin-top: 0; }
    footer .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
      footer .grid h3 {
        font-size: 0.7em;
        margin-bottom: 4%; }
      footer .grid ul {
        padding-top: 8%; }
        footer .grid ul li {
          font-size: 0.7em; }
    footer .propper {
      margin-top: 10%; }
      footer .propper p {
        font-size: small; }
      footer .propper h2 {
        font-size: small;
        margin-top: 4%;
        margin-bottom: 10%; } }

@media screen and (min-width: 1008px) {
  footer {
    margin-top: 0;
    padding: 0;
    margin: auto; }
    footer .grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 60%;
      margin: auto;
      margin-bottom: 5%; }
      footer .grid h3 {
        margin-top: 0;
        font-size: 0.9em;
        margin-bottom: 5%; }
      footer .grid ul {
        padding-top: 0; }
        footer .grid ul li {
          font-size: 0.9em;
          padding-top: 5%; }
    footer .propper {
      display: flex;
      width: 100%;
      margin-top: 0; }
      footer .propper div {
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2%; }
        footer .propper div p {
          margin-top: 5%; }
        footer .propper div h2 {
          margin: 0;
          padding: 0;
          font-size: medium; } }

/*# sourceMappingURL=styles.css.map */