// Section 4 - Deal of the day
.deal-day {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background: no-repeat url(../img/homepage/deals_image.jpg) center (right -700px);
}
.deal-day-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: 1em;
  h2 {
    margin-bottom: .5em;
  }
  h4 {
    margin-bottom: .5em;
    font-size: 1em;
    font-weight: 400;
  }
  h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    background-color: $tertiary-color;
    color: $quinary-color;
    margin: 1.5em 0;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: $quinary-color;
    margin-bottom: 2em;
    li {
      width: calc(100% / 4);
      text-align: center;
      margin: 1em .8em;
    }
  }
  a {
    display: block;
    width: 100%;
    font-size: 1em;
  }
}

@media (min-width: 640px) {
  .deal-day {
    height: 50vh;
    background: no-repeat url(../img/homepage/deals_image.jpg) center (right -300px);
    background-size: 200%;
  }
  .deal-day-div {
    padding: 3em;
  }
  h5 {
    margin: 1.5em 0 3em 0;
  }
  ul {
    max-width: 75%;
    margin-bottom: 3em;
  }
}

@media (min-width: 1008px) {
  .deal-day {
    max-height: 500px;
    background: no-repeat url('../../img/homepage/deals_image.jpg') center;
    background-size: 100%;
  }
  .deal-day-div {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    ul {
      max-width: 500px;
      margin-bottom: 3em;
    }
  }
}