@media screen and (min-width: 1008px) {
    header {
        background-color: bisque;

        .menu {
            display: grid;
            grid-template-columns: 5fr 17fr 6fr 4fr;
            margin-top: 0;
            padding: 0;

            .supro {

                img {
                    width: 30%;
                }
            }

            nav{
                display: grid;
                grid-template-columns: repeat(17, 1fr);

                div {
                    grid-area: 1 / 1 / 2 / 10;

                    ul {
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                    }
                }

                
            }

            .input {
                display: grid;
                grid-template-columns: 5fr 1fr;

                img {
                    width: 35%;
                }
                input {
                    display: block;
                    width: 60%;
                }
            }

            .user {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                margin-right: 0;
                place-content: end;
                                
                img {
                    width: 35%;
                    padding: 0;
                    
               }              
            }

        }
    }
}