@media screen and (min-width: 641px) and (max-width: 1007px) {
    header {
        
        .menu {
            display: grid;
            grid-template-columns: 7fr 3fr;
            margin-top: 1%;

            .supro {
                img {
                    width: 20%;
                    padding: 0;
                }
            }           
            

            .user {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                margin-right: 2%;
                
                img {
                    width: 50%;
                    padding: 0;
                    
                                        
                }
            }
        }  
    }
}