@media screen and (min-width: 1008px) {
    header {
        background-color: bisque;

        .menu {
            nav{
                display: block;

                ul {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                }
            }

            .input {
                display: block;
            }
        }
    }
}