* {
    box-sizing: border-box;
    margin: 4px;
    padding: 5px;
    background-color: $quinary-color;
}

body {
    font-family: "Roboto", sans-serif;
    color: $secondary-color;
}

.product {

    h1 {
        font-size: 50px;
        color: $primary-color;
    }

    h2 {
        font-size: 35px;
        color: $primary-color;
    }

    h3 {
        display: inline;
    }

    h4 {
        color: $primary-color;
    }

    h5 {

    }

    h6 {

    }

    .black {
        color: $primary-color;
    }

    .article-sale {
        .article-menu {
            .grey {
                color: $secondary-color;
            }
            .black {
                color: $primary-color;
            }
        }
    
        .article-presentation {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .article-test {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }

            .little-picture img {
                width: 20%;
                height: auto;
            }
        }
    }
    
    
    
    
    .article-presentation {
        display: flex;
    }
    
    .chevron {
        justify-content: left;
    }
    
    
    .titles { 
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        margin: 10px;
    
      .title-description {
        color: $secondary-color;
      }
    
      .title-info {
        color: $secondary-color;
      }
      .title-review {
        color: $secondary-color;
      }
      .titles div {
        font-size: 5vw;
        padding: .5em;
        flex: 1;
      }
    
    }
    
    
    .description {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        .description div {
            font-size: 5vw;
            padding: .5em;
            flex: 1;
        }
    
        .description-text {
            float: left;
        }
    
        .description-image {
    
            .description-image img {
                width: 60px;
                height: auto;
            }
        }
    }
    
    .art-zero {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        margin: 10px;
    
        .art-one, .art-one-one, .art-two, .art-three {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    
        .art-zero div {
            font-size: 5vw;
            padding: 5em;
            flex: 1;
        }  
        
        .art-one, .art-two, .art-three, .art-four img {
            width: 350px;
            height: auto;
        }
    }
}
